  <!--BANNER START-->
  <div id="inner-banner">
    <div class="container">
      <h1>@{repository.page.title}</h1>
      <ol class="breadcrumb">
        <li><a href="../../../">Home</a></li>
        <li class="active"><a href="#">@{repository.page.title}</a></li>
      </ol>
    </div>
  </div>
  <!--BANNER END--> 
  
  <!--MAIN START-->
  <div id="main"> 
    
    <!--BLOG SECTION START-->
    <section class="cp-blog padding-top-60">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            
          </div>
          <div class="col-md-8">
            @{foreach post in repository.data.blog}
            <div class="cp-post-box">
              <div class="frame cp-img-effect-1"> <a href="../../../blog/@{post.key}"><img src="https://public.kochilaw.tk/images/posts/@{post.value.image}" alt="img"></a> </div>
              <div class="cp-text-box">
                <h2><a href="../../../blog/@{post.key}">@{post.value.title}</a></h2>
                <div class="detail-row">
                  <ul>
                    <li><a href="../../../blog/@{post.key}">@{post.value.date}</a></li>
                    <li>By: <a href="../../../advocate/@{post.value.author}">@{repository.data.advocate[post.value.author].name}</a></li>
                    <!--<li><a href="#">20 Comments</a></li>-->
                  </ul>
                </div>
                @{!post.value.postExtractMDd}
                <a href="../../../blog/@{post.key}" class="btn-style-1">Read More</a> </div>
            </div>
            @{end}
            <!--
            <div class="cp-post-box">
              <div class="frame cp-img-effect-1"> <a href="blog-detail.html"><img src="images/blog/blog-img-1.jpg" alt="img"></a> <strong class="sticky"><i class="fa fa-bullhorn"></i>Sticky Post</strong> </div>
              <div class="cp-text-box">
                <h3><a href="blog-detail.html">This is a Sticky Post</a></h3>
                <div class="detail-row">
                  <ul>
                    <li><a href="#">23 November, 2015</a></li>
                    <li>By:<a href="#"> John Patrick</a></li>
                    <li><a href="#">27 Comments</a></li>
                  </ul>
                </div>
                <p class="excerpt">Apart and limply monstrous far much added you oyster bawled lost in hey due so armadillo tpangolin sexual aboard much alas dragonfly be more some fallacious and barbarous a less much more sat before fishily thus somberly or restful flexed best wherever squinted drew much oh sloth as some when scornfully cut involuntarily at audible. Apart and limply monstrous far much added you oyster bawled lost in hey due so armadillo tpangolin sexual aboard much alas dragonfly be more some fallacious and barbarous a less much more sat before fishily thus somberly or restful flexed best wherever squinted drew much oh sloth as some when scornfully cut involuntarily at audible.</p>
                <a href="blog-detail.html" class="btn-style-1">Read More</a> </div>
            </div>
            <div class="cp-post-box">
              <div class="frame cp-img-effect-1"> <a href="blog-detail.html"><img src="images/blog/blog-img-2.jpg" alt="img"></a> </div>
              <div class="cp-text-box">
                <h3><a href="blog-detail.html">Lack of treatment for an illness while at work</a></h3>
                <div class="detail-row">
                  <ul>
                    <li><a href="#">26 November, 2015</a></li>
                    <li>By:<a href="#"> Allen Patrick</a></li>
                    <li><a href="#">20 Comments</a></li>
                  </ul>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                <a href="blog-detail.html" class="btn-style-1">Read More</a> </div>
            </div>
            <div class="cp-post-box">
              <div class="shadow-box">
                <div class="cp-text-box">
                  <h3><a href="blog-detail.html">This post is without an image.</a></h3>
                  <div class="detail-row">
                    <ul>
                      <li><a href="#">26 November, 2015</a></li>
                      <li>By:<a href="#">Roy Miller</a></li>
                      <li><a href="#">17 Comments</a></li>
                    </ul>
                  </div>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores </p>
                  <a href="blog-detail.html" class="btn-style-1">Read More</a> </div>
              </div>
            </div>
            <div class="cp-post-box">
              <div class="frame">
                <iframe src="https://player.vimeo.com/video/55532708"></iframe>
              </div>
              <div class="cp-text-box">
                <h3><a href="blog-detail.html">Sexual Assault on College Campuses</a></h3>
                <div class="detail-row">
                  <ul>
                    <li><a href="#">26 November, 2015</a></li>
                    <li>By:<a href="#"> Allen Patrick</a></li>
                    <li><a href="#">20 Comments</a></li>
                  </ul>
                </div>
                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. </p>
                <a href="blog-detail.html" class="btn-style-1">Read More</a> </div>
            </div>
            <div class="cp-post-box">
              <div id="blog-slider" class="owl-carousel owl-theme">
                <div class="item">
                  <div class="frame"> <a href="#"><img src="images/blog/blog-img-3.jpg" alt="img"></a> </div>
                </div>
                <div class="item">
                  <div class="frame"> <a href="#"><img src="images/blog/blog-img-4.jpg" alt="img"></a> </div>
                </div>
              </div>
              <div class="cp-text-box">
                <h3><a href="blog-detail.html">Court ordered to husband to pay proper monthly expense of his family.</a></h3>
                <div class="detail-row">
                  <ul>
                    <li><a href="#">26 November, 2015</a></li>
                    <li>By:<a href="#"> Allen Patrick</a></li>
                    <li><a href="#">20 Comments</a></li>
                  </ul>
                </div>
                <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                <a href="blog-detail.html" class="btn-style-1">Read More</a> </div>
            </div>
            <div class="cp-post-box">
              <div class="shadow-box">
                <div class="cp-text-box"> <a href="blog-detail.html" class="link"><i class="fa fa-link"></i></a>
                  <div class="hold">
                    <h3><a href="blog-detail.html">http://themeforest.net/items/lawyers.we.fight</a></h3>
                    <div class="detail-row">
                      <ul>
                        <li><a href="#">26 November, 2015</a></li>
                        <li>By:<a href="#">Roy Miller</a></li>
                        <li><a href="#">17 Comments</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            -->
            <!--PAGINATION START-->
            <!--
            <div class="cp-pagination">
              <nav>
                <ul class="pagination">
                  <li> <a href="#" aria-label="Previous"> <i class="fa fa-angle-left"></i> </a> </li>
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li> <a href="#" aria-label="Next"> <i class="fa fa-angle-right"></i> </a> </li>
                </ul>
              </nav>
            </div>
            -->
            <!--PAGINATION END--> 
          </div>
          <!--
          <div class="col-md-3">
            <aside>
              <div class="cp-sidebar">
                <div class="cp-sidebar-box">
                  <h3>Search</h3>
                  <form action="#">
                    <input type="text" placeholder="Type your text here" required>
                    <button><i class="fa fa-search"></i></button>
                  </form>
                </div>
                <div class="cp-sidebar-box">
                  <h3>Areas of Practice</h3>
                  <div class="cp-practice-area">
                    <ul>
                      <li><a href="practice-area-detail.html"><i class="fa fa-bank"></i>Corporate</a></li>
                      <li><a href="practice-area-detail.html"><i class="fa fa-medkit"></i>Personal Injury</a></li>
                      <li><a href="practice-area-detail.html"><i class="fa fa-building-o"></i>Family Law Consultant</a></li>
                      <li><a href="practice-area-detail.html"><i class="fa fa-car"></i>Serious Car Crash</a></li>
                      <li><a href="practice-area-detail.html"><i class="fa fa-money"></i>Money Laundering</a></li>
                      <li><a href="practice-area-detail.html"><i class="fa fa-truck"></i>Truck Accident</a></li>
                      <li><a href="practice-area-detail.html"><i class="fa fa-intersex"></i>Sexual Abuse</a></li>
                      <li><a href="practice-area-detail.html"><i class="fa fa-bug"></i>Drug Offences</a></li>
                      <li><a href="practice-area-detail.html"><i class="fa fa-paper-plane-o"></i>Shoplifting</a></li>
                    </ul>
                  </div>
                </div>
                <div class="cp-sidebar-box">
                  <h3>Meet Attorneys</h3>
                  <div class="cp-attorneys-box">
                    <div id="cp-attorneys-slider" class="owl-carousel owl-theme">
                      <div class="item">
                        <div class="holder">
                          <div class="frame"><a href="attorney-profile.html"><img src="images/blog/attorneys-img-1.jpg" alt="img"></a></div>
                          <strong class="name">Lee Stewart</strong> <b>Criminal Lawyer</b> </div>
                      </div>
                      <div class="item">
                        <div class="holder">
                          <div class="frame"><a href="attorney-profile.html"><img src="images/blog/attorneys-img-2.jpg" alt="img"></a></div>
                          <strong class="name">Aleen Jhon</strong> <b>Lawyer</b> </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cp-sidebar-box">
                  <h3>Legal News</h3>
                  <div class="cp-legal-news">
                    <ul>
                      <li><a href="blog-detail.html">Consetetur sadipscing elit sed<i class="fa fa-angle-double-right"></i></a></li>
                      <li><a href="blog-detail.html">Magna aliquyam erat, sed <i class="fa fa-angle-double-right"></i></a></li>
                      <li><a href="blog-detail.html">Qui sequitur mutationem <i class="fa fa-angle-double-right"></i></a></li>
                      <li><a href="blog-detail.html">Magna aliquyam erat, sed <i class="fa fa-angle-double-right"></i></a></li>
                      <li><a href="blog-detail.html">Qui sequitur mutationem <i class="fa fa-angle-double-right"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="cp-sidebar-box">
                  <h3>Recent Posts</h3>
                  <div class="cp-recent-post">
                    <ul>
                      <li>
                        <div class="frame cp-img-effect-1"><a href="blog-detail.html"><img src="images/blog/recent-post-img-1.jpg" alt="img"></a></div>
                        <a href="blog-detail.html">Sexual Assault
                        on College Campuses</a> <span>23 November, 2015</span> <b>By: John Patrick</b> </li>
                      <li>
                        <div class="frame cp-img-effect-1"><a href="blog-detail.html"><img src="images/blog/recent-post-img-2.jpg" alt="img"></a></div>
                        <a href="blog-detail.html">Pleasure to graduate
                        with excellent!</a> <span>23 November, 2015</span> <b>By: John Patrick</b> </li>
                      <li>
                        <div class="frame cp-img-effect-1"><a href="blog-detail.html"><img src="images/blog/recent-post-img-3.jpg" alt="img"></a></div>
                        <a href="blog-detail.html">Pleasure to graduate
                        with excellent!</a> <span>23 November, 2015</span> <b>By: John Patrick</b> </li>
                    </ul>
                  </div>
                </div>
                <div class="cp-sidebar-box">
                  <h3>Tags</h3>
                  <div class="cp-tags">
                    <ul>
                      <li><a href="#">Lawyer</a></li>
                      <li><a href="#">Justice</a></li>
                      <li><a href="#">Business</a></li>
                      <li><a href="#">Employment Law</a></li>
                      <li><a href="#">Attorneys</a></li>
                      <li><a href="#">Injury</a></li>
                      <li><a href="#">Car Crash</a></li>
                      <li><a href="#">Study Law</a></li>
                      <li><a href="#">Criminal</a></li>
                      <li><a href="#">Family Law</a></li>
                    </ul>
                  </div>
                </div>
                <div class="cp-sidebar-box">
                  <h3>Happy Client Say’s</h3>
                  <div class="cp-client-box">
                    <div id="cp-client-slider" class="owl-carousel">
                      <div class="item">
                        <div class="holder"> <em> Because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter conseque that are extremely painful. Nor again is there anyone. </em>
                          <div class="frame"><a href="#"><img src="images/client-img-1.jpg" alt="img"></a></div>
                          <div class="cp-text-box"> <strong class="name">John Patrick</strong> <span>Businessman</span> </div>
                        </div>
                      </div>
                      <div class="item">
                        <div class="holder"> <em> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi . </em>
                          <div class="frame"><a href="#"><img src="images/client-img-2.jpg" alt="img"></a></div>
                          <div class="cp-text-box"> <strong class="name">Roy Miller</strong> <span>Lawyer</span> </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cp-sidebar-box">
                  <h3>Instagram</h3>
                  <div class="cp-instagram">
                    <ul>
                      <li class="cp-img-effect-1"><a href="#"><img src="images/blog/instagram/instagram-img-1.jpg" alt="img"></a></li>
                      <li class="cp-img-effect-1"><a href="#"><img src="images/blog/instagram/instagram-img-2.jpg" alt="img"></a></li>
                      <li class="cp-img-effect-1"><a href="#"><img src="images/blog/instagram/instagram-img-3.jpg" alt="img"></a></li>
                      <li class="cp-img-effect-1"><a href="#"><img src="images/blog/instagram/instagram-img-4.jpg" alt="img"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </aside>
          </div>
          -->
        </div>
      </div>
    </section>
    <!--BLOG SECTION END--> 
  </div>
  <!--MAIN END--> 