  <!--BANNER START-->
  <div id="inner-banner">
    <div class="container">
      <h1></h1>
      <ol class="breadcrumb">
        <li><a href="../../../">Home</a></li>
        <li class="active">Login</li>
      </ol>
    </div>
  </div>
  <!--BANNER END--> 
  
  <!--MAIN START-->
  <div id="main"> 
    
    <!--LOGIN SECTION START-->
    <section class="cp-login padding-tb-60">
      <div class="container">
        <div class="holder">
          <!--<form action="#">-->
            <div class="row">
              <!--
              <div class="col-md-12">
                <input type="text" placeholder="Your Email *" required>
              </div>
              <div class="col-md-12">
                <input type="text" placeholder="Username *" required>
              </div>
              <div class="col-md-12">
                <input type="password" placeholder="Password *" required>
              </div>
              <div class="col-md-12">
                <input type="text" placeholder="Confirm Password *" required>
              </div>
              -->
              <div class="col-md-12">
                <a href="/google">
                <input type="submit" value="Login with Google">
              </div>
            </div>
          <!--</form>-->
        </div>
      </div>
    </section>
    <!--LOGIN SECTION END--> 
  </div>
  <!--MAIN END-->