  <!--BANNER START-->
  <div id="inner-banner">
    <div class="container">
      <h1>@{repository.page.title}</h1>
      <ol class="breadcrumb">
        <li><a href="../../../">Home</a></li>
        <li class="active">@{repository.page.title}</li>
      </ol>
    </div>
  </div>
  <!--BANNER END--> 
  
  <!--MAIN START-->
  <div id="main"> 
    
    <!--PRACTICE AREA SECTION START-->
    <section class="cp-practice-area cp-practice-space padding-top-60">
      <div class="container">
        <div class="row">
          @{foreach service in model}
          <div class="col-md-3">
            <div class="cp-box">
              <div class="frame"> <img class="serviceimg" src="../../../images/services/@{service.value.image}" alt="img">
                <div class="caption"><a href="../../../services/@{service.key}" class="link"><i class="fa fa-link"></i></a></div>
              </div>
              <div class="cp-text-box">
                <h3><a href="../../../services/@{service.key}">@{service.value.title}</a></h3>
                @{!service.value.infoExcerpt}...
                <a href="../../../services/@{service.key}" class="btn-style-1">Read More</a> </div>
            </div>
          </div>
          @{end}
        </div>
        <!--PAGINATION START-->
        <!--
        <div class="cp-pagination margin-60">
          <nav>
            <ul class="pagination">
              <li> <a href="#" aria-label="Previous"> <i class="fa fa-angle-left"></i> </a> </li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li> <a href="#" aria-label="Next"> <i class="fa fa-angle-right"></i> </a> </li>
            </ul>
          </nav>
        </div>
        -->
        <!--PAGINATION END--> 
      </div>
    </section>
    <!--PRACTICE AREA SECTION END--> 
  </div>
  <!--MAIN END-->